{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}About Us{% endblock %}

{% block body_block %}<!-- body Block starts here -->
<div>
    <ol class="breadcrumb page-breadcrumbs pull-left">
            <li><a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
    </ol>

</div>


<br><br><br>

<div class="row panel panel-purple">

            <div class="panel-heading">About Dubi Lap </div>
                <div class=" panel-body col-xs-8 col-md-12">

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at elit fringilla, pharetra arcu vel, consectetur odio. Phasellus gravida ligula et ante posuere, nec rutrum tellus bibendum. In eu aliquam metus. Fusce ultricies ex ac dui consequat, eget bibendum mi feugiat. Nunc vestibulum lectus sed efficitur tincidunt. Duis sagittis arcu ut pulvinar imperdiet. Curabitur libero nulla, dictum quis gravida nec, cursus nec erat. Aliquam iaculis nisl sed vehicula hendrerit.
</p>
<p>
Integer id lacus nec mi commodo sodales. Integer interdum tellus quis semper convallis. Vestibulum libero ex, ultricies in dapibus ac, ultrices in risus. Nulla eget feugiat justo. Vivamus quis quam eget lectus gravida mollis non sit amet ante. Praesent sed metus vitae enim tincidunt aliquet. Cras vel auctor felis, in vestibulum dui. Etiam congue sit amet turpis at laoreet. Pellentesque sed blandit lorem, vitae egestas nulla. Etiam elementum turpis ac augue vehicula, vitae molestie ipsum condimentum. Integer consectetur commodo ex et porta. Curabitur faucibus ex nec augue dictum maximus. Nulla convallis ultrices purus, vitae egestas sapien sodales nec. Nullam aliquet ligula sit amet sem hendrerit iaculis.
</p>
<p>
Quisque sollicitudin lorem enim, et dignissim metus ullamcorper mattis. Praesent congue ligula mauris, vitae lacinia enim eleifend quis. In laoreet sem odio, non aliquam nisl sollicitudin ut. Vivamus fringilla quam at tellus luctus, auctor tristique nisi iaculis. Morbi ut nisl iaculis, dictum elit ac, sollicitudin lectus. Praesent et tellus metus. Ut elementum convallis lectus sit amet placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis dapibus eros, vel ullamcorper arcu.
</p>
<p>
Praesent tortor est, pellentesque non sem in, varius tincidunt est. Phasellus id placerat lacus, id consequat velit. Praesent elementum, sapien in faucibus volutpat, risus purus facilisis magna, non dictum sapien metus sed felis. Ut metus lorem, vulputate in maximus sit amet, lobortis ut ligula. Donec at dolor ut ante mattis sodales. Fusce elementum odio vitae urna tempor, ut convallis mauris maximus. Pellentesque et ante sagittis, facilisis turpis ut, semper ex. Donec id pretium metus. Nullam tempus imperdiet lorem, vitae tempor mi ultrices ac. Nulla facilisi. Pellentesque maximus rutrum ex, ut sagittis nulla aliquet in. Suspendisse cursus, turpis sit amet ornare accumsan, mauris neque lacinia nisi, et maximus nisl lectus id ante. Nam convallis sem sed nisl tincidunt tristique. Fusce sed nibh sed lorem viverra ultricies et vitae nibh. Nunc volutpat tempor est et suscipit. Sed et augue in nunc dapibus consequat.
</p>
<p>
Phasellus quis orci at augue cursus posuere faucibus quis quam. Ut quis ipsum sit amet felis commodo efficitur non et tortor. Cras ornare euismod magna id condimentum. Mauris ornare turpis elementum tortor finibus semper. Nullam vestibulum dignissim turpis, vitae consectetur ipsum pellentesque sit amet. Pellentesque pretium nunc et lacinia facilisis. Cras molestie dignissim mauris, id gravida felis luctus et. Phasellus posuere quis ligula et finibus. Praesent vel dui tempor elit tristique elementum. Sed id felis tempus, rhoncus orci at, lacinia velit. In a dignissim odio. Nullam aliquet porta fermentum. Aliquam in lectus at ante fermentum suscipit. In hac habitasse platea dictumst. Fusce ac mattis arcu.
</p>
<p>
Phasellus ac ultrices ex. Aliquam sed mollis risus. Cras quis arcu vitae nibh elementum viverra. Morbi a velit sit amet odio dictum pulvinar in et quam. Vivamus fringilla pretium nisi sed hendrerit. Nulla at ex id neque cursus dignissim. Pellentesque porttitor velit ante, sed fringilla purus commodo nec. Pellentesque non laoreet elit. Nullam iaculis ultricies erat, nec aliquet lorem tincidunt auctor. Proin imperdiet nisl sit amet ipsum euismod rutrum. Phasellus vulputate ultricies malesuada. Duis risus nisi, vehicula vel nisl a, semper consectetur sem. Pellentesque porta congue dui vitae egestas.
</p>

                </div>
            <div class="col-xs-8 col-md-6">
            </div>

                </div>







{% endblock %}