{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ product.product_name }}{% endblock %}

{% block body_block %}<!-- body Block starts here -->
<div>
    <ol class="breadcrumb page-breadcrumbs pull-left">
            <li><a href="index.html">Home</a>
        </li>
        <li>
            <a href="#">Categories</a>
        </li>

    </ol>

</div>
<br><br><br>
<div class="panel panel-purple">
    <div class="panel-heading">Categories</div>
    <a class="panel-body">


    {% for category in cat %}
    {% if category %}


            <a href="{% url 'product:category' category.slug %}">
        <div class="panel">
            <div class="panel-body">
                <h3 style="margin:0 auto; valign:middle;"> {{ category.category_name }}</h3>
                    <img style="margin:0 auto; valign:middle;" src="{{ MEDIA_URL }}{{category.category_icon}}" class="img-rounded center-block" alt="{{ category.category_name}}"/>
            </div>
        </div>
        </a>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    {% endfor %}

</div>
</div>






{% endblock %}